.box {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: red; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: brown; }

div {
  background-color: aquamarine;
  color: grey;
  font-family: sanf-serif, Arial;
  font-size: 200px; }

nav {
  position: fixed;
  top: 300px; }
  nav ul {
    background-color: grey;
    size: 10px; }

p {
  color: grey; }
  p:hover {
    color: red; }
