li{
    list-style: none;
}
li::before{
    content: '\25ba'; /* Добавляем маркер в шестнадцатеричном формате*/
    padding-right: 5px; /* Расстояние от маркеров до текста */
    color: purple; /* Маркеры фиолетового цвета */
}